@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

.form-control:focus {
    background: transparent;
    border: none;
}

.verification-code-wrapper {
    width: 480px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.verification-area {
    width: 100%;
}

.verification-code {
    display: flex;
    position: relative;
    z-index: 1;
    height: 50px;
    width: 100%;
}

.verification-code::after {
    position: absolute;
    content: '';
    right: -37px;
    width: 35px;
    height: 50px;
    background-color: hsl(var(--card-bg));
    z-index: 2;
    display: none;
}

.verification-code input {
    position: absolute;
    height: 50px;
    width: calc(100% + 80px);
    left: 0;
    background: transparent;
    border: none;
    font-size: 25px !important;
    font-weight: 800;
    letter-spacing: 59px;

    text-indent: 1px;
    border: none;
    z-index: 1;
    padding-left: 25px;
    font-family: 'Courier Prime', monospace;
    color: hsl(var(--white)) !important;
}

.verification-code input:focus {
    outline: none;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
}

.boxes {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: -1;
}

.verification-code span {
    height: 50px;
    width: calc((100% / 6) - 3px);
    background: hsl(var(--card-bg));
    border: solid 1px hsl(var(--border-color));
    text-align: center;
    line-height: 50px;
    color: hsl(var(--white));
}

.verification-text {
    font-size: 1.2rem;
}


@media (max-width: 575px) {
    .verification-code-wrapper {
        width: 385px;
    }

    .verification-code input {
        width: calc(100% + 35px);
        letter-spacing: 41px;
    }

    .verification-text {
        font-size: 1rem;
    }

    .verification-code::after {
        right: -32px;
        width: 30px;
    }
}

@media (max-width: 450px) {
    .verification-code-wrapper {
        width: 380px;
    }

    .verification-code input {
        width: calc(100% + 45px);
        letter-spacing: 41px;
    }
}

@media (max-width: 400px) {
    .verification-code {
        height: 40px;
    }

    .verification-code-wrapper {
        width: 340px;
    }

    .verification-code input {
        width: calc(100% + 40px);
        letter-spacing: 36px;
        height: 40px;
    }

    .verification-code span {
        height: 40px;
        line-height: 40px;
    }

    .verification-code::after {
        height: 40px;
    }

    .verification-code input {
        font-size: 20px !important;
    }
}


@media (max-width: 375px) {
    .verification-code-wrapper {
        width: 300px;
    }

    .verification-code input {
        letter-spacing: 27px;
        height: 40px;
    }

    .boxes {
        justify-content: center !important;
    }

}